<blockquote>

    <img src="{{ testimonial.featuredImage('thumbnail').url }}"/>
    <h3{{ testimonial.post_title }}</p>
    <p>{{ testimonial.post_content|wpautop }}</p>
    <footer>—{{ testimonial.name }}, <cite>{{ locations[testimonial.location] }}</cite></footer>
</blockquote>